<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Location</title>
</head>
<body>
<body id="item_location_controller">
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
        <div class="container">
            <a class="navbar-brand" href="#">My Home Item Inventory</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<h1>Hey Man !</h1>
<ul th:each="location : ${allLocations}">
    <li th:text="${location.getName()}"></li>
</ul>
</body>
</html>